header > div.splash {
    padding: 1rem;
    margin: 0 auto;
    max-width: 76.875rem;
}

.splash .header-nav {
    justify-content: space-between;
    .hamburger {
        display: none;
    }
    .nav-list {
        @include flex($width: fit-content);
    }
    .nav-btns {
        @include flex($width: fit-content)
    }
}