$splash-hamburger-breakpoint: 1085px;

header > div {
    &.login, &.splash {
        @include flex($justify: flex-start);
        height: 4.3rem;
    }
}

.splash {
    .header-nav {
        @include flex($justify: space-between);
        button {
            padding: 0.7rem 1rem;
        }
    }
}

.btn-blue {
    @include button($font: $sand, $background: $dark-blue);
}

.btn-white {
    @include button($font: $dark-blue, $background: $sand, $hover: "shadow");
}

.btn-transp {
    @include button($font: $sand, $background: transparent, $outline: $sand, $hover: "shadow")
}

@media only screen and ( max-width: $splash-hamburger-breakpoint ) {
    @import "./small_screens.scss";
}

@media only screen and ( min-width: $splash-hamburger-breakpoint ) {
    @import "./desktop.scss";
}