.splash {
    button {
        font-size: .875rem;
        padding: 1.25rem 2.5rem;
    }
}

.splash-btns-container {
    color: $sand;
    background: $dark-blue;
}

main > .splash {
    padding-top: 7rem;
}