$splash-breakpoint: 766px;

.splash {
    button {
        font-size: .875rem;
        padding: 1.25rem 2.5rem;
        width: 100%;
    }
}

.splash-btns-container {
    color: $sand;
    background: $dark-blue;
}

@media only screen and ( max-width: $splash-breakpoint ) {
    @import "./small_screens.scss";
}